[submodule "dvd4.ech7/lib/forge-std"]
	path = dvd4.ech7/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dvd4.ech7/lib/openzeppelin-contracts"]
	path = dvd4.ech7/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "dvd5.ech8/lib/forge-std"]
	path = dvd5.ech8/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dvd5.ech8/lib/openzeppelin-contracts"]
	path = dvd5.ech8/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "dvd3/lib/forge-std"]
	path = dvd3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "repo"]
	path = repo
	url = https://github.com/tinchoabbate/damn-vulnerable-defi.git
[submodule "dvd3/lib/openzeppelin-contracts"]
	path = dvd3/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
