[submodule "dvd4.ech7/lib/forge-std"]
	path = dvd4.ech7/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dvd4.ech7/lib/openzeppelin-contracts"]
	path = dvd4.ech7/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "dvd5.ech8/lib/forge-std"]
	path = dvd5.ech8/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dvd5.ech8/lib/openzeppelin-contracts"]
	path = dvd5.ech8/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "dvd3/lib/forge-std"]
	path = dvd3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "repo"]
	path = repo
	url = https://github.com/tinchoabbate/damn-vulnerable-defi.git
[submodule "dvd3/lib/openzeppelin-contracts"]
	path = dvd3/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "dvd6/lib/forge-std"]
	path = dvd6/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dvd6/lib/openzeppelin-contracts"]
	path = dvd6/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "dvd7/lib/forge-std"]
	path = dvd7/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dvd7/lib/openzeppelin-contracts"]
	path = dvd7/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "dvd8/lib/forge-std"]
	path = dvd8/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dvd8/lib/openzeppelin-contracts"]
	path = dvd8/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "dvd9/lib/forge-std"]
	path = dvd9/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dvd9/lib/openzeppelin-contracts"]
	path = dvd9/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "dvd9/lib/v2-periphery"]
	path = dvd9/lib/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
[submodule "dvd9/lib/v2-core"]
	path = dvd9/lib/v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "dvd9/lib/solmate"]
	path = dvd9/lib/solmate
	url = https://github.com/transmissions11/solmate
