[submodule "repo"]
	path = repo
	url = https://github.com/crytic/damn-vulnerable-defi-echidna.git
[submodule "exercise7/lib/forge-std"]
	path = exercise7/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "exercise7/lib/openzeppelin-contracts"]
	path = exercise7/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
